[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
postgres = "*"
tekore = "*"
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
pandas = "0.9"
spotipy = "*"
python-dateutil = "==2.8.1"
python-dotenv = "*"
scikit-learn = "==0.22.2.post1"

[requires]
python_version = "3.8"
